<div class="auth-container">
  <div >
    <nz-card style="width:350px;" [nzBordered]="false" nzTitle="Login" >

      <div class="error-container"  *ngIf="errorResponse">
        <nz-alert
        nzType="error"
        [nzMessage]="errorResponse.errors.join('\n')"
        ></nz-alert>
      </div>

      <form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="submitForm()">

        <nz-form-item>
          <nz-form-control nzErrorTip="Please input valid email address!">
            <nz-input-group nzPrefixIcon="user">
              <input type="text" nz-input formControlName="email" placeholder="Email Address" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group nzPrefixIcon="lock">
              <input type="password" nz-input formControlName="password" placeholder="Password" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>

        <br />
        <br />

        Don't have an account ? <a [routerLink]="['/signup']">Signup</a>

      </form>

    </nz-card>
  </div>

</div>
